#center{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}
.heart{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    rotate: 45deg;
    translate: 10px 10px;

}

.heart:before{
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: -50px;
    left: 0;
    border-radius: 50%;
}

.heart:after{
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    bottom: 0px;
    right: 50px;
    border-radius: 50%;
}

@keyframes beat {
    0% {
        transform: scale(1.2);
    }
    20% {
        transform: scale(1.3);
    }
    40% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.2);
    }
}

.heart{
    animation: beat 1s infinite;
}


