/*felugró űrlap stílus beállításai*/
.btn{
   width: 100%; 
   margin: 5px 0;
}
.form-popup{
    position: fixed;
    bottom: 20px;
    right: 15px;
    border: 3px solid #f1f1f1;
    display: none;
}
.open-button{
    background-color:#5555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 38px;
    right: 28px;
    width: 280px;
}

/*az új felugró űrlap formázása*/
.form-container{
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
/*az input mezők szélleségének beállítása*/
.form-container input[type="text"],
.form-container input[type="password"]
{
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="text"]:hover,
.form-container input[type="password"]:hover
{
    background-color: #ddd;
    outline: none;
}
.form-container .btn{
    background-color: #4caf50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}