header,nav,section, article, footer{
    border: 1px dashed red;
    border-radius: 12px;
}
header{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 12px;
}   
nav{
    width: 10%;
    min-width: 200px;
    height: 1100px;
    float: left;
    margin:0 30px 0 30px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;

}   
#menu{
    width: 100%;
    height: auto;
    border-radius: 12px;
}
section{
    width: 89%;
    max-width: 800px;
    height: 1100px;
    float: left;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
}
article{
    width: 96%;
    max-width: 700px;
    height: 950px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 12px;

}
footer{
    width: 100%;
    height: 100px;
    float: left;
    margin-top: 10px; 
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom:20px;
    background-color: white;
    border-radius: 12px;
    opacity: 0.25;
}
.container{
    width: 1100px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 12px;
}
#banner-content{
    text-align: center;
    margin-top: 50px;
    border-radius: 12px;
}
#banner-content a{
    text-decoration: none;
    color: orange;
    border-radius: 12px;
}
#logo{
    float: left;
    width: 210px;
    height: 170px;
    margin: 5px 0px 5px 10px;
    border-radius: 12px;
}
#banner-content a:hover{
    text-decoration: underline;
}
body{
    background-image: url(pictures/letöltés3.png);
    border-radius: 12px;
}
h2{
    text-align: center;
    border-radius: 12px;
}
.menu ul{
    list-style-type: none;
    border-radius: 12px;
}
.menu ul li a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    border: black 3px solid;
    display: block;
    background-color: #ccc;
    display: block;
    padding: 10 0 10 20;
    border-radius: 12px;

    
}
.menu ul li a:hover{
    background-color: orange;
    color: white;
    border-radius: 12px;

}
.menu ul ul a{
    position: relative;
    bottom: 20px;
    left: 100%;
    display: none;
    border-radius: 12px;
}
.menu ul li:hover > ul a{
    display: block;
}
article {
    text-align: justify;
    line-height: 1,5em;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    border-radius: 12px;

}
article img{
    float: left;
    margin-left: 20px;
    border-radius: 12px;
}
footer{
    text-align: center;
    border-radius: 12px;
}
header{
    border-radius: 12px;
}
